# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Django
logs/
media/*
!media/.gitkeep
static/*
!static/.gitkeep

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Virtual environment
.env
.venv/
venv/

# PyCharm
.idea

# VS Code
.vscode/
